

/***************************CONTENT PAGE*****************************/
.contentPage{
    display: flex;
    width:  100%;
    height: 90vh;
}

.contentInicio{
    width: 100%;
    display: grid;
    place-items: center;
}


.contentData{
    z-index: 100000000;
    margin: auto;
   
    padding: 4%;
 
  
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
    
}
.textPerfil{
    
    color: #051224;
    font-weight: bolder;
    z-index: 100;
}
.title_principal{
   
    -webkit-text-stroke: 1px black;
    color: transparent
}
.imgPerfil{
    border-radius: 50%;
    animation: perfil 2s normal; 
}

@keyframes perfil {
    0%{
        transform:matrix(0.37,0.14,-0.14,0.37,0,0);
    }
    100%{ 
        transform:matrix(1.00,0.00,0.00,1.00,0,0);
    }
    
}

.contentImg{
  
   
}


.contentImg::after{
   
    position: absolute;
    border-bottom-right-radius: 10px;
    border-color: #051224;

    border-style: solid;
    border-width: 0 0.3em 0.25em 0;
    height: 10em;
    top: 13.5em;
    left: 12.4em;
    margin-top: -1em;
    width: 10em;
    
}
/***********************ABOUT ME********************************/
.content_title{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 0;

}
.text_shadow{
   
   font-weight: bolder;
   color: transparent;
   -webkit-text-stroke: 1px #434d5a5d;
   
}
.text_title{
    position: absolute;
    top: 50%;
    color: #0E1B30;
}

.contentInfoMe{
    margin-top: 50px;
    width: 100%; 
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.contentInfoMe .img_for_me{
    top: -40px;
    right: -10px;
    z-index: 100;
}

.contentInfoMe .info_for_me{
    
}

.card_info{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
    padding: 6% 10%;
    border-radius: 10px;
    line-height: 28px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: all 800ms;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #135a52;
    cursor: pointer;
}
.card_info:hover{
   
    background-color: white;
    transform: translateY(-2px);

}

.info_about{
    margin-top: 20px;
   
}
.card_img{
    margin: auto;
  
    
    overflow: hidden;
    background-color: #7474741c;
    transition: all 800ms;
    
}
.card_img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card_img img:hover{
    transform: scale(1.2);
}
.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 800ms;
    cursor: pointer;
    
}

/****************************************************************/

.cuadroVerde{
    width: 500px;
    height : 500px ;
    background-color: #5FB5AB;
    transform: matrix(0.91,0.42,-0.42,0.91,-56,-319);
    position: absolute;
    z-index: 100;
}
.cuadroVerde::before{
    content: '';
    width: 500px;
    height : 500px ;
    background-color: #2A9D8F;
    transform:matrix(1.00,0.00,0.00,1.00,10,10);
    position: absolute;
    z-index: 99;
}

.cuadroAzul{
    width: 501px;
    height: 600px;
    background-color: #434D5A;
    transform: matrix(0.69,-0.72,0.72,0.69,145,39);
    position: absolute;
    z-index: -1000;
    right: 0;
}
.cuadroAzul::after{
    content: '';
    width: 501px;
    height: 600px;
    background-color: #051224;
    transform:matrix(1.00,0.00,0.00,1.00,10,10);
    position: absolute;
    z-index: -1000;
    right: 0;
}



/*********************************SKILLS*****************************/

.contentBack{
    display: flex;
    box-shadow: 1px 2px 12px 0px #c5c5c5;
    width: 40%;
    margin-bottom: 4%;
}
.titleBack{
    width: 30%;
    background-color: #051224;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillBack{
    width: 70%;
   
}




